.MuiAppBar-root {
  background-color: white !important;
  color: black !important;
}
.MuiBox-root-4 {
  text-align: center;
}
.hero__container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}