.body--fixed {
  /* top stop background scrolling when modal is open */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --yellow-color: #ffba00;
  --gray-color: #424242;
}
.yellow {
  color: var(--yellow-color);
}
.white {
  color: #fff;
}

.MuiAppBar-root {
  background-color: rgba(0, 0, 0, .8) !important;
}
.MuiContainer-root {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.MuiContainer-root, .contact-buttons .MuiContainer-root {
  margin: 20px 0;
}

.MuiBox-root-2 {
  /* input-form container */
  margin: 0 auto;
}

/***********************
      Hero Container
***********************/
.hero__container {
  color: #a1a1a1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=426&w=640');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  opacity: .45;
}
.hero__container .MuiTypography-root {
  position: relative;
  z-index: 1;
}
.contact-buttons {
  display: inline-block;
  margin: 0 auto;
}
/***********************
      Upload Form
***********************/
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-color);
  border-radius: 5px;
}
.upload-form label .MuiIconButton-root {
  color: var(--yellow-color) !important
}
.upload-form .MuiInput-underline::before, 
.upload-form .MuiInput-underline::after {
  border-color: var(--yellow-color);
}

.upload-form .MuiButton-outlined {
  margin: 15px 0 !important;
  color: var(--yellow-color) !important;
  border-color: var(--yellow-color);
}
.below-form {
  min-height: 5vh;
  text-align: center;
  color: var(--yellow-color);
  padding: 10px 0;
}
#select-type {
  margin-top: 15px;
}
#select {
  margin: 10px 0 5px;
}

/***********************
      Image Grid 
***********************/
.img-grid,
.preview-grid {
  background-color: var(--gray-color);
  /* border-radius: 5px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 9px;
  padding: 9px;
}

.img-container {
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  /* border: .1px solid var(--yellow-color); */
  /* border-radius: 5px; */
} 
.preview-container {
  display: grid;
  place-content: center;
  color: #a1a1a1;
}
.grid-image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}
.landscape {
  grid-column: span 2;
  grid-row: span 1;
}
.potrait {
  grid-column: span 1;
  grid-row: span 2;
}

/***********************
      Modal 
***********************/
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1101;
}
.modal .MuiIconButton-root  {
  color: #e50914 !important;
  font-size: 100px !important;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0 !important;
}


.slick-slider {
  height: 85%;
}
.slick-slide > div, .slick-list, .slick-track  {
  height: 100%;
}
.img-wrapper {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.img-wrapper img {
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--yellow-color);
} 
.img-wrapper .MuiTypography-root,
.preview .MuiTypography-root {
  color: var(--yellow-color);
  margin-top: 10px;
}

.preview-modal {
  height: 85%;
}